

root { 
    display: block;
}

#imagen{
    width: 70%;
    height: 97%;
    background-color: red;
    position: absolute; 
    background: url(../Recursos/Principal.jpg) no-repeat ;
    background-size: 100% 100%; 
}

#Principal{
    width: 80%;
    height: auto;
    position: initial; 
    background: url(../Recursos/menugrande.jpeg) no-repeat ;
    background-size: 100% 100%; 
}

#formulario{
    width: 27%;
    height: 97%;
    position: absolute;
    left: 5%;
    right: 20%;
}

#titulo{
    font-size:50px;
    font-weight: bold;
    font-style: italic;
 }

 #Principal h5{
     color: #EFF2FB;
    font-size:50px;
    font-weight: bold;
    font-style: italic;
 }