

root { 
    display: block;
}

#imagen{
    width: 70%;
    height: 97%;
    background-color: red;
    position: absolute; 
    background: url(../Recursos/Principal.jpg) no-repeat ;
    background-size: 100% 100%; 
}

#formulario{
    width: 27%;
    height: 97%;
    position: absolute;
    left: 72%;
    
}

#titulo{
    font-size:40px;
    font-weight: bold;
    font-style: italic;
 }
 
 #sesion{
     height: 3%;
     background-color: red;
    
 }
