

.crear {
    -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
    background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
    background-color:#fc8d83;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    width: 100%;
}
.crear:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
    background-color:#e4685d;
}
.crear:active {
    position:relative;
    top:1px;

}

.centro tr{
    padding-top: 50%;

}

#fmenu{
    background-image: -webkit-gradient(
        linear,
        right bottom,
        left top,
        color-stop(0.25, #0DD6C9),
        color-stop(0.79, #9FEBB9)
        );

    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0.23, #DE2828),
        color-stop(0.25, #D92020),
        color-stop(0.79, #BD2F3E),
        color-stop(1, #C75656)
        );

    background: rgba(169,3,41,1);
    background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,0.98) 44%, rgba(109,0,25,0.96) 74%, rgba(109,0,25,0.96) 84%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,0.98)), color-stop(74%, rgba(109,0,25,0.96)), color-stop(84%, rgba(109,0,25,0.96)));
    background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,0.98) 44%, rgba(109,0,25,0.96) 74%, rgba(109,0,25,0.96) 84%);
    background: -o-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,0.98) 44%, rgba(109,0,25,0.96) 74%, rgba(109,0,25,0.96) 84%);
    background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,0.98) 44%, rgba(109,0,25,0.96) 74%, rgba(109,0,25,0.96) 84%);
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(143,2,34,0.98) 44%, rgba(109,0,25,0.96) 74%, rgba(109,0,25,0.96) 84%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0 );

    -webkit-box-shadow: -15px -11px 39px -7px rgba(168,5,51,1);
    -moz-box-shadow: -15px -11px 39px -7px rgba(168,5,51,1);
    box-shadow: -15px -11px 39px -7px rgba(168,5,51,1);


    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 15px double #de606a;

    width: 15%;
    height: max-content;
}

#fmenu{
    color: #0B0B61;
    text-shadow: 0px -1px 0px #000;
}

#Principal h5{
    color: #EFF2FB;
    font-size:50px;
    font-weight: bold;
    font-style: italic;
}

#Principal{
    width: 2024px;
    height: 70px;
    position:relative; 

    background-size: 100% 100%; 
    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(152,186,212,1) 54%, rgba(134,174,204,1) 70%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(54%, rgba(152,186,212,1)), color-stop(70%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(152,186,212,1) 54%, rgba(134,174,204,1) 70%);
    background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(152,186,212,1) 54%, rgba(134,174,204,1) 70%);
    background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(152,186,212,1) 54%, rgba(134,174,204,1) 70%);
    background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(152,186,212,1) 54%, rgba(134,174,204,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );
}

#imagenmenu{
    width: 900px;
    height: 500px;
    position: absolute; 
    background:url(../Recursos/menureloj.jpg) no-repeat;
    background-size: 100% 100%;
    left:20%;
    top: 25%;
}

#creditos{
    background-image: -webkit-gradient(
        linear,
        right bottom,
        left top,
        color-stop(0.25, #0DD6C9),
        color-stop(0.79, #9FEBB9)
        );

    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0.23, #DE2828),
        color-stop(0.25, #D92020),
        color-stop(0.79, #BD2F3E),
        color-stop(1, #C75656)
        );

    background: rgba(73,155,234,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 44%, rgba(32,124,229,1) 68%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%,  color-stop(0%, rgba(73,155,234,1)), color-stop(44%, rgba(32,124,229,1)), color-stop(68%, rgba(32,124,229,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 44%, rgba(32,124,229,1) 68%);
    background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 44%, rgba(32,124,229,1) 68%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 44%, rgba(32,124,229,1) 68%);
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 44%, rgba(32,124,229,1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );

    -webkit-box-shadow: -15px -11px 34px -11px rgba(48,44,45,1);
    -moz-box-shadow: -15px -11px 34px -11px rgba(48,44,45,1);
    box-shadow: -15px -11px 34px -11px rgba(48,44,45,1);


    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 9px solid #00ad9f;

    width: 18%;
    height: max-content;
    left:30%;
    color: #FBEFF5;
    padding-top: 2%;
}


@media screen and (max-width:800px){


    #fmenu{
        width: 15%;
        height: max-content;
    }

    #Principal{
        width:1000px;
        height:30px;
    } 

    #imagenmenu{
        width: 600px;
        height: 350px;
        position: absolute;
        background:url(../Recursos/menureloj.jpg) no-repeat;
        background-size:100% 100%;
    }

    #creditos{
        width: 15%;
        height: max-content;
        left:30%;
        color: #FBEFF5;
        padding-top: 1%;
    } 

    #Principal h5{
        
        font-size:25px;
        
    }
}

@media screen and (max-width:480px){

    #fmenu{
        width: 5%;
        height: max-content;
    }

    #Principal{
        width:900px;
        height:10px;
    } 
    #Principal h5{
        color: #EFF2FB;
        font-size:20px;
        font-weight: bold;
        font-style: italic;
    }

}