#formulario{
   background-image: -webkit-gradient(
	linear,
	right bottom,
	left top,
	color-stop(0.25, #0DD6C9),
	color-stop(0.79, #9FEBB9)
);

   background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.23, #DE2828),
	color-stop(0.25, #D92020),
	color-stop(0.79, #BD2F3E),
	color-stop(1, #C75656)
);

   background: rgba(147,206,222,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,0.99) 41%, rgba(81,169,194,0.98) 68%, rgba(73,165,191,0.98) 74%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%,  color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,0.99)), color-stop(68%, rgba(81,169,194,0.98)), color-stop(74%, rgba(73,165,191,0.98)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,0.99) 41%, rgba(81,169,194,0.98) 68%, rgba(73,165,191,0.98) 74%);
background: -o-radial-gradient(center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,0.99) 41%, rgba(81,169,194,0.98) 68%, rgba(73,165,191,0.98) 74%);
background: -ms-radial-gradient(center, ellipse cover, rgba(147,206,222,1) 0%, rgba(117,189,209,0.99) 41%, rgba(81,169,194,0.98) 68%, rgba(73,165,191,0.98) 74%);
background: radial-gradient(ellipse at center, rgba(147,206,222,1) 0%, rgba(117,189,209,0.99) 41%, rgba(81,169,194,0.98) 68%, rgba(73,165,191,0.98) 74%);

   
-webkit-box-shadow: 10px 10px 54px 20px rgba(30,96,201,0.6);
-moz-box-shadow: 10px 10px 54px 20px rgba(30,96,201,0.6);
box-shadow: 10px 10px 54px 20px rgba(30,96,201,0.6);


filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px inset #b03a5d;


}

#formulario{
     color: #0B0B61;
     text-shadow: 0px -1px 0px #000;
}

#formulario fieldset{
    padding: 80px;
    alignment-baseline: 50px;
}

#imagen{
    width: 70%;
    height: 97%;
    position: absolute; 
    background:url(../Recursos/registrogrande.jpg) no-repeat;
    background-size: 100% 100%;
}

#formulario{
    width: 27%; 
    height: 97%;
    position: absolute;
    left: 72%;
}

.centro{
    padding-top: 50px;
}

#titulo h3{
    color: #084B8A;
}

.entrar {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.entrar:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.entrar:active {
	position:relative;
	top:1px;
}
